{% extends "layout.html" %}

{% block title %}
    HISTORY
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>TYPE</th>
                <th>SYMBOL</th>
                <th>SHARES</th>
                <th>PRICE</th>
                <th>TOTAL</th>
                <th>TIME</th>
            </tr>
        </thead>
        <tbody>
            {% for i in rows %}
                <tr>
                    <td>{{ i.type }}</td>
                    <td>{{ i.symbol }}</td>
                    <td>{{ i.shares }}</td>
                    <td>{{ (i.price) }}</td>
                    <td>{{ (i.price * i.shares) }}</td>
                    <td>{{ i.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}